<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3 mt-3">
    <h3>Listings Details :</h3>
  </div>

  <div class="card col-6 offset-3 show-card">
    <img
      src="<%= listings.image%>"
      class="card-img-top show-img"
      alt="Listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <b><%= listings.title %></b><br>
         <%= listings.description %><br />
        &#8377;
        <% if (listings.price !== undefined && !isNaN(listings.price)) { %>
          <%= listings.price.toLocaleString("en-IN") %> 
        <% } else { %>
          Price not available 
        <% } %>
        <br />
        <%= listings.location %><br />
        <%= listings.country %><br />
      </p>
    </div>
  </div>

  <div class="btns">
    <a
      href="/listings/<%= listings._id %>/edit"
      class="btn btn-dark col-1 offset-3 new-btn"
      >Edit</a
    >
    <form method="post" action="/listings/<%= listings._id %>?_method=DELETE">
      <button class="btn btn-dark offset-5 new-btn">Delete</button>
    </form>
  </div>
</div>
