<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3 mt-3">
    <h3><b><%= listings.title %></b></h3>
  </div>

  <div class="card col-6 offset-3 show-card listing-card">
    <img
      src="<%= listings.image%>"
      class="card-img-top show-img"
      alt="Listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <%= listings.description %><br />
        &#8377; <% if (listings.price !== undefined && !isNaN(listings.price)) {
        %> <%= listings.price.toLocaleString("en-IN") %> <% } else { %> Price
        not available <% } %>
        <br />
        <%= listings.location %><br />
        <%= listings.country %><br />
      </p>
    </div>
  </div>

  <div class="btns">
    <a
      href="/listings/<%= listings._id %>/edit"
      class="btn btn-dark col-1 offset-3 new-btn"
      >Edit</a
    >
    <form method="POST" action="/listings/<%= listings._id %>?_method=DELETE">
      <button class="btn btn-dark offset-5 new-btn">Delete</button>
    </form>
  </div>
  <div class="col-8 offset-3">
    <hr />
    <h4>Leave Rating</h4>
    <form
      action="/listings/<%= listings._id%>/reviews"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
          class="form-range"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id=""
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comments for review</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr />
    <h4>All Reviews</h4>
    <div class="row">
      <% for(review of listings.reviews){%>
      <div class="col-5 ms-3 mb-3 card">
        <div class="card-body">
          <h5 class="ard-title">Parthiv</h5>
          <p class="card-text"><%=review.comment %></p>
          <p class="card-text"><%=review.rating %> stars</p>

          <form
            method="POST"
            class="mb-3"
            action="/listings/<%= listings._id %>/reviews/<%= review._id%>?_method=DELETE"
          >
            <button class="btn btn-dark offset-5 new-btn">Delete</button>
          </form>
        </div>
      </div>
      <% }%>
    </div>
  </div>
</div>
